.el-pr {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.el-pa {
  position: absolute;
  inset: 0% auto auto 0%;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
}

/* 공백 태그 */
.empty-s {
  width: 100%;
  height: 1rem;
}
.empty-m {
  width: 100%;
  padding-bottom: 2rem;
}

/* 공통 버튼 */
.primary-btn {
  display: flex;
  padding: 1rem 1.2rem 0.9rem;
  border-bottom-right-radius: 15px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

/* 버튼 화살표 애니메이션 */
.btn__ic {
  display: flex;
}
.btn__ic img.el-pa {
  transform: translateX(-100%);
}
.btn__ic span:first-child {
  margin-left: 0.5rem;
}

/* About */
.sc-about .empty {
  width: 100%;
  padding-bottom: 1rem;
}
.sc-about .content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 8rem;
}
.sc-about .content .headline {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.9;
}
.sc-about .content .desc-b {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
}
.sc-about .content-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 2rem;
}
.sc-about .content-info dt {
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.sc-about .content-info dd {
  font-family: var(--ppmori-book), sans-serif;
  width: 50ch;
  max-width: 28rem;
  font-size: 0.9rem;
  opacity: 0.8;
  line-height: 1.4;
}
.sc-about .dd-size-m {
  width: 38ch !important;
}

/* about / motion */
.sc-about .content .motion-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.sc-about .content .motion-flicker-mask {
  position: relative;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  white-space: nowrap;
}
.sc-about .content .motion-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  background-color: #ccc;
}
.sc-about .maniacs-motion .motion-item {
  visibility: hidden;
}
.sc-about .content .motion-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
