/* Webfont */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/helveticaneue.woff') format('woff'),
  url('../font/helveticaneue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PPMori-Book';
  src: url('../font/PPMori-Book.woff') format('woff'),
  url('../font/PPMori-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PPMori-ExtraBold';
  src: url('../font/PPMori-ExtraBold.woff') format('woff'),
  url('../font/PPMori-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PPEditorial';
  src: url('../font/PPEditorialNew-UltralightItalic.woff') format('woff'),
  url('../font/PPEditorialNew-UltralightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* reset(초기화) */
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  
  --main-font-dark: #202020;
  --dark-orange: #ef4826;
  --lime: #25ff55;
  --blue-800: 29, 78, 216;
  --ppmori-extrabold:'PPMori-ExtraBold';
  --ppmori-book:'PPMori-Book';
  --ppeditorial:'PPEditorial';
  --helveticaneue:'HelveticaNeue';
 
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  image-rendering: auto;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--main-font-dark);
  font-weight: 700;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}

/* 기본 세팅 */
body {
  font-family: var(--ppmori-extrabold), sans-serif;
  color: var(--main-font-dark);
  font-size: 0.8rem;
  line-height: 1;
}
